<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Hierarchy_Ordering_System.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Hierarchy_Ordering_System.My.MySettings.HierarchyDbConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\HierarchyDb.accdb"
            providerName="System.Data.OleDb" />
        <add name="Hierarchy_Ordering_System.My.MySettings.HierarchyHistoryDbConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\HierarchyHistoryDb.accdb"
            providerName="System.Data.OleDb" />
        <add name="Hierarchy_Ordering_System.My.MySettings.infoConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\info.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        
    <supportedRuntime version="v2.0.50727"/></startup>
    <userSettings>
        <Hierarchy_Ordering_System.My.MySettings>
            <setting name="TAX" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="sc" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="pwd" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="recieptcount" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="storename" serializeAs="String">
                <value>HIERARCHY</value>
            </setting>
            <setting name="discount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="money" serializeAs="String">
                <value>0</value>
            </setting>
        </Hierarchy_Ordering_System.My.MySettings>
    </userSettings>
</configuration>
